@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

a {
  text-decoration: none;
}

body {
  background-color: #f6f9ff;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 50px 122px 97px 122px;
}

.header {
  display: none;
}

header .logo {
  display: flex;
  width: 70px;
  height: 70px;
}

header p {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  color: #017dcc;
}

.search {
  border: 2px solid #017dcc;
  display: flex;
  height: 35px;
  background-color: transparent;
  border-radius: 7px;
}

.search input {
  background: transparent;
  color: #017dcc;
  border: none;
  width: 100%;
  height: 100%;
  padding: 0 10px;
}

.search img {
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 6px;
}

.search input:focus {
  outline: none;
  background: transparent;
}

.search input::placeholder {
  color: #017dcc;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
}

.links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 60px;
  align-items: center;
  justify-items: center;
  margin: 0 235px;
}

.links div {
  background: #cceafd;
  color: #017dcc;
  border-radius: 8px;
  height: 65px;
  width: 135px;
  text-align: center;
  padding: 15px 0px;
}

.links div a {
  color: #017dcc;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: -0.02em;
}

.main {
  display: flex;
  flex-direction: column;
  margin: 20px 312px;
}

.main p {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #000000;
  margin: 60px 0px 30px 0px;
}

.main .form {
  display: flex;
  flex-direction: column;
}

.main .form .frames {
  display: flex;
  margin: 0 auto;
}

.main .form .view {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: -0.02em;
  color: #017dcc;
}

.main .form .pre {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  color: #017dcc;
}

.main .form label {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: -0.02em;
  color: #017dcc;
  margin: 20px 0px 10px 0px;
}

.main .form input {
  color: black;
  border: 2px solid #d3d3d3;
  padding: 0px 7px;
  height: 40px;
  border-radius: 7px;
  background-color: transparent;
}
.main .form select {
  color: #d3d3d3;
  border: 2px solid #d3d3d3;
  padding: 0px 7px;
  height: 40px;
  border-radius: 7px;
  background-color: transparent;
}

.main .form input:focus {
  outline: none;
  background-color: transparent;
}

.main .form select:focus {
  outline: none;
  background-color: transparent;
}

.main .form input::placeholder {
  padding-left: 8px;
}

.main .form .img {
  margin: 50px 20px 0px 20px;
}

.main .form .img:hover {
  cursor: pointer;
}

.main .form .qr-code .code {
  display: flex;
  justify-content: center;
  margin: 10px auto;
}

.main .form button {
  margin: 25px auto;
  width: 120px;
  height: 48px;
  left: 660px;
  background: #017dcc;
  border-radius: 8px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.main .form .btns {
  display: flex;
  justify-content: space-between;
  margin: 150px 20px 50px 20px;
}

@media screen and (max-width: 950px) {
  body {
    background-color: white;
    padding: 0px 20px;
  }

  .header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    padding: 20px;
  }

  .header img {
    margin-left: 20px;
  }

  .header p {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #017dcc;
    text-align: center;
    margin: 0 auto;
  }

  header {
    display: flex;
    justify-content: space-between;
    margin: 0px;
  }

  header .logo {
    display: none;
  }

  header p {
    display: none;
  }

  .search {
    border: 2px solid #017dcc;
    display: flex;
    height: 50px;
    background-color: transparent;
    border-radius: 7px;
    margin-top: 100px;
    margin-bottom: 20px;
    width: 100%;
  }

  .search img {
    margin-top: 12px;
    margin-bottom: 8px;
    margin-left: 12px;
  }

  .links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    margin: 0px;
  }

  .links div {
    background: #cceafd;
    color: #017dcc;
    border-radius: 8px;
    height: 80px;
    width: 160px;
    text-align: center;
    padding: 22px 0px;
  }

  .links div a {
    color: #017dcc;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
  }

  .main {
    display: flex;
    flex-direction: column;
    margin: 0px;
  }

  .main p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 33px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #000000;
    margin: 60px 0px 30px 0px;
  }

  .main .form label {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #017dcc;
    margin: 20px 0px 10px 0px;
  }

  .main .form .frames {
    display: flex;
    overflow: hidden;
    width: 320px;
  }

  .main .form .img {
    margin: 35px 5px 0px 5px;
  }

  .main .form .frames .img {
    width: 70px;
    height: 70px;
  }

  .main .form .view {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: #017dcc;
  }

  .main .form .pre {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
  }

  .main .form button {
    margin: 25px auto;
    width: 85px;
    height: 40px;
    background: #017dcc;
    border-radius: 8px;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #ffffff;
  }

  .main .form .btns {
    display: flex;
    justify-content: space-between;
    margin: 150px 10px 50px 10px;
  }
}
